# Base de datos
POSTGRES_USER=quickshop
POSTGRES_PASSWORD=
POSTGRES_DB=quickshop_db

# Backend
DATABASE_URL=postgresql+asyncpg://quickshop:@db:5432/quickshop_db
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=120

# CORS — separar multiples origenes con coma
CORS_ORIGINS=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:8000
