# Base de datos
POSTGRES_USER=quickshop
POSTGRES_PASSWORD=quickshop_secret
POSTGRES_DB=quickshop_db

# Backend
DATABASE_URL=postgresql+asyncpg://quickshop:quickshop_secret@db:5432/quickshop_db
SECRET_KEY=cambia_esto_en_produccion_con_un_valor_aleatorio_largo
ACCESS_TOKEN_EXPIRE_MINUTES=120
CORS_ORIGINS=http://localhost:5173

# OpenRouter (generacion de productos con IA)
OPENROUTER_API_KEY=sk-or-v1-...
OPENROUTER_MODEL=GPT120 OSS

# Frontend
VITE_API_URL=http://localhost:8000
